*.o
Makefile
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
config.rpath
configure
jwm.1
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-*
src/Makefile
src/jwm
doc
ABOUT-NLS
aclocal.m4
compile
install-sh
m4
missing
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
stamp-h1
